<!-- Copyright Section-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer copyright py-4 text-center text-white" th:fragment="footer">
    <a href="https://www.flaticon.com/kr/free-icons/-" title="증권 거래소 아이콘">증권 거래소 아이콘  제작자: Marcus Christensen - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" title="숯 아이콘">숯 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" title="결혼 아이콘">결혼 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" title="돼지 아이콘">돼지 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/-" title="음식과 식당 아이콘">음식과 식당 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" title="치킨 아이콘">치킨 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" title="발 아이콘">발 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" title="수갑 아이콘">수갑 아이콘  제작자: Freepik - Flaticon</a>
    <div class="container"><small>Copyright &copy; <sdki></sdki>m 2023</small></div>
</div>
