<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body id="page-top">

    <nav th:replace="fragments/nav :: nav" />
    <!-- Masthead-->
    <div class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h3>당신에게 5,000만원이 주어진다면</h3>
            <h1 class="masthead-heading mb-0">나는 금손일까? 똥손일까?</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="/assets/img/free-icon-stock-exchange-8900903.png" alt="..." />
            <form id="formStock" class="row" action="/">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="stockName" placeholder="주식명을 입력하세요." value="삼성전자"/>
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" name="buyDate" id="devBuyDate" value="2023-07-17"/>
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" name="sellDate" id="devSellDate" value="2023-07-21"/>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-light" id="btnConfirm">확인하기!</button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
    <!-- Portfolio Modals-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">당신은....</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" id="devIncomeImg" width="200px" src="" alt="..." />
                                <img class="img-fluid rounded mb-5" width="200px" src="/assets/img/hand.png" alt="..." />
                                <h4 class="text-uppercase mb-4 text-secondary" id="devIncome"></h4>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="/js/form.js"></script>
    </body>
</html>
